@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.progress {
    margin-left: 1rem;
    margin-bottom: 3rem;
    border: 3px solid $color-border-quaternary;
    border-radius: 20px;
    padding: 1rem 1.5rem;

  &__heading {
    @include body-text($color-text-quaternary);
    font-weight: 600;
    text-align: center;

    &--dark {
        color: $color-dark-text-tertiary;
    }
  }

  &__text {
    @include body-text($color-text-primary);
    margin-bottom: 0;

    &--dark {
        color: $color-dark-text-primary;
    }
  }

  &__link {
    @include body-text($color-text-quaternary);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $color-dark-text-tertiary;
    }

    &--dark {
      color: $color-dark-text-tertiary;

      &:hover {
        color: $color-text-quaternary;
      }
    }
  }

  &__icon {
    width: 1.5rem;
    vertical-align: top;
  }
}
