@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.delete {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: $color-background-secondary;
  padding: 1.5rem;

  @include tablet-and-desktop {
    width: 80%;
    height: auto;
    top: 25px;
    left: 10%;
    border: 5px solid $color-border-quaternary;
    border-radius: 20px;
    padding: 2rem 2rem 0.5rem 2rem;
  }

  @include desktop {
    width: 60%;
    left: 20%;
  }

  &--dark {
    background-color: $color-dark-background-primary;
    border-color: $color-dark-border-quaternary;
  }

  &__icon {
    position: absolute;
    right: 0;
    padding-right: 1rem;
    cursor: pointer;
  }

  &__heading {
    @include subheading($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__text {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__button {
    @include flex(row, center, center);
  }

  &__error {
    @include body-small-text($color-text-error);
    text-align: center;
  }
}
