@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.entries {
  &__heading {
    @include subheading($color-text-quaternary);
    padding-top: 1rem;

    &--dark {
        color: $color-dark-text-tertiary;
    }
  }

  &__entry {
    @include tablet-and-desktop {
      @include flex(row, start, start);
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  &__link {
    @include body-text($color-text-quaternary);
    text-decoration: underline;
    cursor: pointer;
  }
}
