@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@keyframes twist {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.inspiration {
  border: 3px solid $color-border-tertiary;
  border-radius: 20px;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;

  &--dark {
    border-color: $color-dark-border-tertiary;
  }

  @include tablet-and-desktop {
    width: 35rem;
  }

  &__heading {
    @include subheading($color-text-tertiary);
  }

  &__text {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__container {
    @include flex(row, center, center);
  }

  &__activity {
    @include subheading($color-text-secondary);
    background-color: $color-background-quinary;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 2rem;

    &--animation {
      animation: twist 3s;
    }

    &--dark {
      background-color: $color-dark-background-quinary;
      color: $color-dark-text-primary;
    }
  }

  &__error {
    @include error-text;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }
}
