@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.message {
  &__heading {
    @include subheading($color-text-quaternary);
    text-align: center;

    &--dark {
      color: $color-dark-text-tertiary;
    }
  }

  &__text {
    @include body-text($color-text-primary);
    text-align: center;

    &--dark {
      color: $color-dark-text-primary;
    }
  }
}
