@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.graph-page {
  @include flex(column, center, center);
  background-color: $color-background-primary;
  padding-bottom: 10rem;

  @include tablet-and-desktop {
    padding-top: 6rem;
  }

  &--dark {
    background-color: $color-dark-background-primary;
  }

  &__container {
    width: 100%;
    max-width: $max-width;
    padding: 1rem;

    @include tablet-and-desktop {
      padding: 2rem;
    }
  }

  &__heading {
    @include heading($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__information {
    border: 3px solid $color-border-tertiary;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
  }

  &__subheading {
    @include subheading($color-text-tertiary);
  }

  &__text {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__graph {
    border: 3px solid $color-border-tertiary;
    border-radius: 20px;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: $color-background-secondary;

    &--dark {
      border-color: $color-dark-border-quaternary;
      background-color: $color-dark-background-senary;
    }

    @include tablet-and-desktop {
      width: 75%;
      margin: auto;
    }
  }

  &__error {
    @include body-small-text($color-text-error);
    text-align: center;
  }
}
