@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.entry {
  background-color: $color-background-secondary;
  border: 3px solid $color-border-quaternary;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  @include tablet-and-desktop {
    margin: auto;
    width: 48%;
  }

  @include desktop {
    width: 30%;
    margin: auto;
  }

  &--dark {
    background-color: $color-dark-background-secondary;
    border-color: $color-dark-border-quaternary;
  }

  &__row {
    @include flex(row, space-between, center);
  }

  &__subheading {
    @include body-text($color-text-quinary);
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;

    &--dark {
      color: $color-dark-text-quaternary;
    }
  }

  &__date {
    @include body-small-text($color-text-quinary);
    margin-top: 0;
    
    &--dark {
      color: $color-dark-text-quaternary;
    }
  }

  &__text {
    @include body-small-text($color-text-primary);
    margin-top: 0;

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__icons {
    @include flex(row, space-between, start);
    cursor: pointer;
  }
}
