@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.booster {
  @include flex(row, center, center);
  background-color: $color-background-primary;
  padding-bottom: 8rem;

  @include tablet-and-desktop {
    padding-top: 6rem;
  }

  &--dark {
    background-color: $color-dark-background-primary;
  }

  &__container {
    width: 100%;
    max-width: $max-width;
    padding: 2rem;
  }

  &__heading {
    @include heading($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__text {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__add {
    @include flex(row, center, center);
    gap: 0.5rem;
    border-radius: 20px;
    background-color: $color-background-quaternary;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;

    &:hover {
      background-color: $color-dark-background-quaternary;
    }

    @include tablet-and-desktop {
      width: 25rem;
    }

    &--dark {
      background-color: $color-dark-background-quaternary;
    }
  }

  &__subheading {
    @include subheading($color-text-secondary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__error {
    @include body-small-text($color-text-error);
    text-align: center;
  }
}
