@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.signs {
  border: 3px solid $color-border-tertiary;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  background-color: $color-background-secondary;

  &--dark {
    border-color: $color-dark-border-tertiary;
    background-color: $color-dark-background-secondary;
  }

  &__subheading {
    @include subheading($color-text-tertiary);

    &--green {
        color: $color-text-quinary;

        &--dark {
            color:$color-dark-text-quaternary;
        }
    }
  }

  &__text {
    @include body-text($color-text-primary);
    font-weight: 600;

    &--dark {
        color: $color-dark-text-primary;
    }
  }

  &__item {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__link {
    @include body-text($color-text-tertiary);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $color-dark-text-quinary;
    }
  }
}
