@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mood-page {
  @include flex(row, center, start);
  background-color: $color-background-primary;
  padding-bottom: 10rem;

  @include tablet-and-desktop {
    padding-top: 6rem;
  }

  &--dark {
    background-color: $color-dark-background-primary;
  }

  &__container {
    width: 100%;
    max-width: $max-width;
    padding: 2rem;
  }

  &__heading {
    @include heading($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }
  
  &__introduction {
    margin-bottom: 2rem;
    border: 3px solid $color-border-tertiary;
    border-radius: 20px;
    padding: 1rem 1.5rem;
  }

  &__subheading {
    @include body-text($color-text-primary);
    margin-bottom: 0.5rem;
    margin-top: 0;

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__text {
    @include body-text($color-text-quaternary);
    text-align: center;

    &--dark {
      color: $color-dark-text-tertiary;
    }
  }

  &__icon {
    width: 1.5rem;
    vertical-align: top;
  }

}
